@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Terapkan font ke seluruh halaman */
body {
  font-family: 'Open Sans', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
